apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
spec:
  selector:
    app: {{ .Chart.Name }}
  type: {{ .Values.variables.serviceType }}
  ports:
    - name: http
      protocol: TCP
      port: {{ .Values.variables.servicePort }}
      targetPort: {{ .Values.variables.serviceTargetPort }}
      nodePort: {{ .Values.variables.serviceNodePort }}
